
/* html {
	padding: env(safe-area-inset);
}
html, body {
	overflow-x: hidden;
	font-family: 'Lato', sans-serif;
}
.row, .container-fluid {
	margin-left: 0px !important;
	margin-right: 0px !important;
} */



/* .landing {
	position: relative;
	width: 100%;
	height: 100vh;
	display: table;
	z-index: 5;
	background-color: rgba(0, 0, 0, .7);
}
.home-wrap {
	clip: rect(0, auto, auto, 0);
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
}
.home-inner {
	background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)), url('../img/home-img.jpg');
	position: fixed;
	height: 100%;
	width: 100%;
	background-size: cover;
	background-position: center center;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	will-change: transform;
	display: table;
} */


.landing {
	position: relative;
	width: 100%;
	height: 100vh;
	display: table;
	z-index: 5;
	background-color: rgba(0, 0, 0, .7);
}

/* .ffff{

background: url('../img/home-img.jpg') no-repeat center;
background-size: cover;
background-attachment: fixed;
width: 100%;
	height: 100vh;



} */


.parallax-window {
	width: 100%;
	height: 100vh;

	background: transparent;
}

/* .hhhh{

	background: url('../img/junior.jpg') no-repeat center;
	background-size: cover;
	background-attachment: fixed;
	width: 100%;
		height: 100vh;

} */
